Package: com.idd.killallswitcher
Name: KillAllSwitcher
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ter4m
Author: ter4m
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
